{% extends "front/layout.html.twig" %}

{% block main %}
        <!-- {{ dump(mangas) }} -->
    <input type="search" class="search">

    
    <h2>Mangas dans la catégorie : {{ category.name }}</h2>
    
        <!-- {{ dump(mangas) }} -->
    <ul class="grid">
        {% for manga in mangas %}
        <li class="card">
            <img src="{{ manga.volumeCover.url }}" alt="{{ manga.volumeCover.alt }}" />
            <a href="index.php?route=mangaCategorieId&id={{ manga.id }}">
                <p><strong>{{ manga.name }}</strong></p>
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
