{% extends "front/layout.html.twig" %}

{% block main %}
    <div class="info">
        <img src="{{mangas.volumeCover.url}}" alt="{{mangas.volumeCover.alt}}"/>
        <div class="cardId card-info">
            <h2 class="name-manga">{{ mangas.name }}</h2>
            <p>Auteur : {{ mangas.authorId.name}}</p>
            <p>Editeur: {{mangas.publisher}}</p>
            <p>Nombre de page: {{ mangas.pageCount}}</p>
            <p>Date de parution: {{mangas.dateOfPublication.format('d/m/y')}} </p>
        </div>
        
    </div>
    <div class="cardId synopsis">
        <p>Synopsis: {{ mangas.synopsisId.content }}</p>
    <div>
{% endblock %}